.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
}

main {
  width: 100%;
  margin-top: 3rem;

  .movies-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
  }
}